<nav class="navbar sticky-top navbar-light bg-dark">
    <a class="navbar-brand" href="#">Sticky top</a>
    
    <div class="col-sm-4 col-md-4 navbar-right">
        <form action="{% url 'search_images'%}" class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for image" name="image">
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit">
                       search
                    </button>
                </div>
            </div>
    
        </form>
    </div>
</nav>