/* color scheme
#00272B
and #E0FF4F */
body{
    font-family: 'Gugi', cursive;
    background-color: #00272B;
    color: #E0FF4F;
    background-attachment: fixed;
    
}
img{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}

img:hover{
    opacity: 0.7;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content{
    margin:auto;
    display: block;
    width:80%;
    max-width:700px;
}

#caption{
    margin:auto;
    display: block;
    width:80%;
    max-width: 700px;
    text-align:center;
    color: #ccc;
    padding: 10px 0;
    height: 1500px;


}
.modal-content, #caption{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform: scale(1)}

}

.close {
    position: inherit;
    top:15px;
    right:35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.closehover, 
.close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and(max-width: 700px){
    .modal-content{
        width:100%;
    }
}

/* .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */