{%extends 'g2/base.html'%} 
{%block content%}
<div class="container">

    <h1 class="text-center"> SplashInterest</h1>


</div>
<div class="container-fluid">
<div class="row">
    {%for image in image %}
    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
        {%if image.image %}
        <div class="overlay">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    View more
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
        </div>
        <img src="{{image.image.url}}" alt="" class="img-fluid button{{.id}}">

        {%endif%}
        {% empty %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Sorry, There are no photos to display... Try again later</h1>

        </div>
        {% endfor %}
    </div>
</div>
</div>
{%endblock%}