{%extends 'g2/base.html'%} 
{%block content%}
<div class="loader"></div>
<div class="container">

    <h1 class="text-center"> SplashInterest</h1>


</div>
<div class="container-fluid">
<div class="row">
    {%for image in image %}
    
    <div class="col-xs-3 col-md-9 col-sm-6 col-lg-12">
        {%if image.image %}
        <div class="overlay">

      </div>
      
      <div class="card">
        <img id="myImg" src="{{image.image.url}}" alt="" height="800" width="1200">
        <button> View More</button>
        </div>
        
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
     
        {%endif%}
        {% empty %}
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Sorry, There are no photos to display... Try again later</h1>

        </div>
        
        {% endfor %}
    </div>
</div>
</div>
{%endblock%}